user: "labeip"
group: "labeip"
make: "make"
os: "linux"
root: "/home/labeip/.opam"
prefix: "/home/labeip/.opam/4.00.1"
lib: "/home/labeip/.opam/4.00.1/lib"
bin: "/home/labeip/.opam/4.00.1/bin"
sbin: "/home/labeip/.opam/4.00.1/sbin"
doc: "/home/labeip/.opam/4.00.1/doc"
stublibs: "/home/labeip/.opam/4.00.1/lib/stublibs"
toplevel: "/home/labeip/.opam/4.00.1/lib/toplevel"
man: "/home/labeip/.opam/4.00.1/man"
share: "/home/labeip/.opam/4.00.1/share"
etc: "/home/labeip/.opam/4.00.1/etc"
